#wrapper{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    order: 1px solid rgb(17, 17, 88);

}

h1 {
    text-align: center;
}

.hide{
    display: none;
}

.btns{

    background-color: gray;
    color: darkblue;
    padding: 2%;
    margin-right: 2%;
    
}

#timer{
    float:right
}

#button-start{
padding: 3%;
}





     
